@import 'variables';

#audience {
  position: relative;
}

.audience_main{
  width: 100%;
  background: linear-gradient(to top, $bg-grey 50%, white 50%);
}

.dashboard {
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 10;
}

.audiences_content {
  background: $bg-grey;
  padding: 120px 0;
}

.audiences {
  display: flex;
  justify-content: space-between;
}

.audience_wrap {
  max-width: 210px;
}

.audience_headline {
  font-size: 30px;
  line-height: 40px;
  font-weight: 800;
  margin: 10px 0 5px;
}

.line_yellow {
  position: absolute;
  top: -75px;
  left: 0;
  z-index: 0;
}

.three_green {
  position: absolute;
  bottom: -30px;
  right: -55px;
  z-index: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .line_yellow {
    top: -115px;
    left: -20px;
    width: 215px;
  }
}

@media (max-width: 991px) {
  .audience_headline {
    font-size: 28px;
    line-height: 35px;
  }
  .line_yellow {
    top: -115px;
    left: -20px;
    width: 215px;
  }
}

@media (max-width: 767px) {
  .audiences {
    flex-wrap: wrap;

    & > :not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .audiences_content {
    background: $bg-grey;
    padding: 60px 0;
  }
  
  .audience_wrap {
    width: 100%;
    max-width: 100%;
  }

  .audience_headline {
    font-size: 20px;
    line-height: 30px;
  }

  .line_yellow {
    top: -115px;
    left: -20px;
    width: 175px;
  }
}

@media (max-width: 355px) {
  .line_yellow {
    top: -95px;
    left: -20px;
    width: 175px;
  }
}