@import 'variables';

.info {
  padding: 140px 0;
}

#demographics,
#segmentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.demographics_content,
.segmentation_content {
  max-width: 445px;
}

#demographics {
  margin-bottom: 120px;
}

.graphics,
.segmentation{
  position: relative;
}

.graphics {
  order: 1;
}

.demographics_content {
  order: 2;
}

.arrow_graphics {
  z-index: 10;
  position: absolute;
  top: 25%;
  left: -100px;
}

.line_blue {
  z-index: 10;
  position: absolute;
  top: 36%;
  right: -55px;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.content_info {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 30px;
}


@media (max-width: 991px) {
  .info {
    padding: 100px 0;
  }

}

@media (max-width: 767px) {
  .info {
    padding: 60px 0;
  }

  #demographics {
    margin-bottom: 80px;
  }

  #demographics,
  #segmentation {
    flex-wrap: wrap;
  }

  .segmentation,
  .graphics {
    margin-top: 40px;
    text-align: center;
    width: 100%;
  }

  .graphics {
    order: 2;
    width: 100%;
  }

  .demographics_content {
    order: 1;
    width: 100%;
  }

}

@media (max-width: 480px) {
  .width_mob {
    max-width: 60%;
  }
}