@import 'variables';

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;

  picture {
    display: flex;
    align-content: center;
  }
}

.footer_logo {
  order: 0;
}

.footer_nav {
  display: flex;
  order: 2;
  justify-content: space-between;
  width: 100%;
  max-width: 475px;

   .footer_nav_list > li > a {
    font-family: Inter, serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: $light-black;
  }
}

.footer_social_wrap {
  order: 1;
}

.footer_social {
  display: flex;
  li:not(:last-child) {
    margin-right: 25px;
  }
}

.footer_bottom {
  display: block;
  border-top: 1px solid $line-grey;

  .light_text {
    font-size: 14px;
    line-height: 20px;
    color: $light-grey;
    text-align: center;
    padding: 24px 15px;
  }
}

@media (min-width: 1199px) {
  .footer_nav {
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .footer_logo {
    order: 0;
  }

  .footer_nav {
    order: 1;
  }

  .footer_social_wrap {
    order: 2;
  }
}

@media (max-width: 991px) {
  .footer_nav {
    justify-content: center;

    .footer_nav_list {
      li {
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {

  .footer_top {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }

  .footer_social {
    margin: 40px 0;
  }
}




