@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import 'fonts';
@import 'variables';

//basic settings
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html { height: 101%; } /* always display scrollbars */
body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $light-black;
  background-color: $white;
}

h1 {
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-weight: 800;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

input { outline: none; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
  border-color: $light-black;
  box-shadow: none;
  outline: 0 none;
}

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

button:active, button:focus {
  outline: none;
}

a { text-decoration: none; }
a:hover { text-decoration: none; }

.container_min,
.container{
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1440px;
}

.container_min {
  max-width: 1160px;
}

.pd_content {
  padding: 0 60px;
}

.btn_get_started {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  padding: 25px 40px;
  border-radius: 100px;

  svg {
    margin-left: 20px;
  }
}

.btn_black {
  position: relative;
  margin: 0 auto 80px;
  color: $yellow;
  background-color: $light-black;
  z-index: 10;

  &:hover {
    background-color: $grey-dark;
  }
}

.btn_yellow {
  margin: 0 auto;
  color: $light-black;
  background-color: $yellow;

  &:hover {
    background-color: $orange;
  }
}

// header
@import 'header';

// features
@import 'features';

// audience
@import "audience";

// demographics
@import "demographics";

// reviews
@import "reviews";

// grow
@import "grow";

// footer
@import 'footer';

// modal
@import 'modal';

.showModal {
  display: block;
}

.hiddenModal {
  display: none;
}

.animation_headline {
  opacity: 0;
  transform: translateY(20px);
}

.animation_headline.animation_headline_show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 80px;
    line-height: 88px;
    max-width: 900px;
  }

  h2 {
    font-size: 50px;
    line-height: 58px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 70px;
    line-height: 78px;
    max-width: 90%;
  }

  h2 {
    font-size: 45px;
    line-height: 53px;
  }

  .hidden {
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
    max-width: 94%;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .d_none {
    display: none;
  }

  .pd_content {
    padding: 0 25px;
  }

  .hidden {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
    max-width: 80%;
  }

  .d_none_sm {
    display: none;
  }

  .btn_black {
    margin: 0 auto 60px;
  }
}

@media (max-width: 480px) {
  h1 {
    max-width: 100%;
  }

  .pd_content {
    padding: 0 15px;
  }
}

@media (max-width: 355px) {
  h1 {
    font-size: 30px;
    line-height: 38px;
  }

}

