$green: #01BE83;
$yellow: #FFC729;
$orange: #FFAF14;
$light-yellow: #FFF4D7;
$black: #000000;
$light-black: #1E1E1E;
$grey-dark: #373737;
$blue: #325AFE;
$light-grey: #979797;
$border-grey: #E3E8EE;
$txt-grey: #8F969F;
$line-grey: #EDEDED;
$bg-grey: #F7F7F7;
$grey-light-btn: #EFEFEF;
$white: #fff;